</br>
<div class="tile-box">
  <div class="row">
    <ul class="menu horizontal">
      <li><a class="sub-menu-text" href="/custom_posts">Custom Posts</a></li>
      <li><a class="sub-menu-text" href="/custom_deals">Custom Deals</a></li>
      <li><a class="sub-menu-text" href="/custom_reviews">Custom Reviews</a></li>
    </ul>
  </div>
  <h1>Custom Discussions Page</h1>
  </br>
  <p>Keywords: </p>
  <ul>
    <% @keywords.each do |keyword| %>
    <li><%=keyword%></li>
    <% end %>
  </ul>
  <% @discussions.each do |discussion| %>
    <div class="callout">
       <h3><%=discussion.title%> </h3>
       <a class="deal-text" href=`<%=discussion.url%>`>URL: <%=discussion.url%></a>
       <p>Link Flair: <%= discussion.link_flair_text %></p>
       <p>Created at: <%= Time.at(discussion.created) %></p>
     </div>
  <% end%>
</div>
