</br>
<div class="tile-box">
  <div class="row">
    <ul class="menu horizontal">
      <li><a class="sub-menu-text" href="/deals">All Deals</a></li>
      <li><a class="sub-menu-text" href="/reviews">All Reviews</a></li>
      <li><a class="sub-menu-text" href="/discussions">All Discussions</a></li>
    </ul>
  </div>
  <h1>All Posts</h1>
  <% @deals.each do |deal| %>
    <div class="callout">
        <h3><%=deal.title%> </h3>
        <a class="deal-text" href=`<%=deal.url%>`>URL: <%=deal.url%></a>
        <p>Link Flair: <%= deal.link_flair_text %></p>
        <p>Created at: <%= Time.at(deal.created) %></p>
     </div>
  <% end%>
</div>
