</br>
<h1>All Deals</h1>
<% @deals.each do |deal| %>
  <div class="callout">
     <h3><%=deal.title%> </h3>
     <a href=`<%=deal.url%>`>URL: <%=deal.url%></a>
     <p>Link Flair: <%= deal.link_flair_text %></p>
     <p>Created at: <%= Time.at(deal.created) %></p>
   </div>
<% end%>
