</br>
<div class="tile-box">
  <div class="row">
    <ul class="menu horizontal">
      <li><a class="sub-menu-text" href="/custom_posts">Custom Posts</a></li>
      <li><a class="sub-menu-text" href="/custom_reviews">Custom Reviews</a></li>
      <li><a class="sub-menu-text" href="/custom_discussions">Custom Discussions</a></li>
    </ul>
  </div>
  <h1>Custom Deals Page</h1>
  </br>
  <p>Keywords: </p>
  <ul>
    <% @keywords.each do |keyword| %>
      <li><%=keyword%></li>
    <% end %>
  </ul>
  <% @deals.each do |deal| %>
    <div class="callout">
       <h3><%=deal.title%> </h3>
       <a class="deal-text" class="deal-text" href=`<%=deal.url%>`>URL: <%=deal.url%></a>
       <p>Link Flair: <%= deal.link_flair_text %></p>
       <p>Created at: <%= Time.at(deal.created) %></p>
     </div>
  <% end%>
</div>
