</br>
<div class="tile-box">
  <h1>All Reviews</h1>
  <% if @reviews.empty? %>
    <div class="empty-page">
      There are no new Reviews right now, check back later
    </div>
  <% else %>
    <% @reviews.each do |review| %>
      <div class="callout">
         <h3><%=review.title%> </h3>
         <a href=`<%=review.url%>`>URL: <%=review.url%></a>
         <p>Link Flair: <%= review.link_flair_text %></p>
         <p>Created at: <%= Time.at(review.created) %></p>
       </div>
    <% end%>
  <% end %>
</div>
